.heroSection {
    @include DeviceMinimum992 {
        height: 58.2rem;
    }

    position: relative;

    .hero-slider {
        img {
            @include DeviceMinimum992 {
                height: 58.2rem;
            }

            @include DeviceMaximum992 {
                height: 47rem;
            }

            object-fit: cover;
            object-position: top;
            width: 100vw;
        }

        .owl-dots {
            position: absolute;
            margin: 0;
            bottom: 1rem;
            left: 50%;
            transform: translate(-50%, -50%);

            .owl-dot {
                background: $colorPrimary !important;

                &.active {
                    background: $colorSecondary !important;
                    width: 1.4rem;
                    border-radius: 10px;
                }
            }
        }
    }

    .overlay {
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, -50%);

        .col-lg-5 {
            @include DeviceMinimum992 {
                text-align: right;
            }

            @include DeviceMaximum992 {
                iframe {
                    width: 100%;
                }
            }
        }

        .call-to-action-content {
            background: rgba($colorPrimary, $alpha: 0.8);
            padding: 3rem;

            @include DeviceMaximum992 {
                display: none;
            }
        }
    }
}

.cta-01 {
    .call-to-action-content {
        background: $colorPrimary;
        text-align: center;
        padding: 2rem 3rem;
    }
}

.global-education {
    background-image: url(../img/home-concept.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    .col-lg-3 {
        @include DeviceMaximum768 {
            &:not(:last-child) {
                .card {
                    margin-bottom: 3rem;
                }
            }
        }

        @include DeviceMaximum992 {
            &:not(:nth-last-child(-n+2)) {
                .card {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .card {
        position: relative;
        transition: $transition04s;
        background: rgba(#fff, $alpha: 0.5);

        &:hover {
            background: rgba($colorPrimary, $alpha: 1);
            border-color: rgba($colorPrimary, $alpha: 1) !important;
            transform: translateY(-5px);
            box-shadow: $boxShadowOne;

            img {
                filter: brightness(3) sepia(9) grayscale(1);
            }

            .card-content,
            .headingFour {
                color: $colorWhite;
            }

            .link-two a {
                background: $colorWhite;
                color: rgba($colorPrimary, $alpha: 1);
                border-color: $colorWhite;
            }

            &::before {
                width: 100%;
            }
        }

        .card-img {
            overflow: hidden;
            text-align: center;
            padding: 2rem;

            img {
                width: 7rem;
                height: auto;
                object-fit: cover;
                object-position: top;
                transition: $transition04s;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }

        .card-content {
            padding: 2rem 4rem;
            position: relative;

            @media screen and (min-width:768px) {
                height: calc(278px + 4rem);
            }

            @media screen and (min-width:992px) {
                height: calc(300px + 4rem);
            }

            @media screen and (min-width:1200px) {
                height: calc(275.35px + 4rem);
            }

            @media screen and (min-width:1400px) {
                height: calc(250px + 4rem);
            }

            .contentPara {
                padding-top: 2rem;
                text-align: center;
            }

            @include DeviceMinimum768 {
                .link-two {
                    position: absolute;
                    bottom: 1rem;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: max-content;
                }
            }
        }
    }
}

.global-classroom {
    background: rgba($colorPrimary, $alpha: 1);
    position: relative;

    &::before {
        content: "";
        background-image: url(../img/Background.jpg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        mix-blend-mode: color-burn;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        position: relative;

        .row {
            @include DeviceMaximum992 {
                flex-direction: column-reverse;
            }
        }
    }

    .responsive-content {
        padding-bottom: 7rem;

        @include DeviceMaximum768 {
            padding-bottom: 4rem;
        }

        @include DeviceMinimum992 {
            padding-left: 3rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            gap: 1rem;

            li {
                a {
                    transition: $transition04s;
                    padding: 3px 15px;
                    border: 1px solid $colorWhite;
                    border-radius: 40px;
                    font-size: 14px;

                    &:hover {
                        background: $colorWhite;
                        color: rgba($colorPrimary, $alpha: 1);
                    }
                }
            }
        }

        h5 {
            font-size: 2rem;
            color: $colorWhite;
            font-weight: 600;
        }

        p,
        a {
            color: $colorWhite;
        }
    }
}

.lead-place {
    background-image: url(../img/better-bg.jpg);
    background-size: cover;
    background-position: bottom right;
    min-height: 70rem;
    display: flex;
    align-items: center;

    h2 {
        color: rgba($colorPrimary, $alpha: 1);
    }
}

.team-up {
    figure {
        width: 20rem;

        @include DeviceMinimum992 {
            float: right;
            padding-left: 2rem;
            padding-bottom: 2rem;
        }

        @include DeviceMaximum576 {
            width: calc(100% - 2rem);
        }

        .sunita-pic {
            width: 100%;
            height: auto;
        }

        strong,
        span {
            display: block;
            text-align: center;
            font-size: 14px;
        }

        strong {
            color: rgba($colorPrimary, $alpha: 1);
            margin-top: 2rem;
        }

        span {
            font-size: 12px;
            font-weight: 500;
        }
    }
}

.isaptive {
    background: #f6f6f6;

    .headingFour {
        margin-bottom: 1.5rem;

        @include DeviceMaximum768 {
            margin-top: 2rem;
        }

        @include DeviceMinimum992 {
            text-align: left !important;
        }
    }

    @include DeviceMinimum992 {
        .container {
            width: 90rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.experiece-team {

    .img-wrapper,
    .img-wrapper img {
        height: 100%;
    }

    .img-wrapper img {
        object-fit: cover;
        object-position: bottom;
    }

    blockquote {
        background: rgba($colorPrimary, $alpha: 1);
        padding: 30px 10px 30px 30px;
        margin-top: 3rem;
        margin-bottom: 0;

        @include DeviceMaximum768 {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        ul {
            li {
                color: $colorWhite;

                &::before {
                    background: $colorWhite;
                    outline-color: $colorWhite;
                    border-color: rgba($colorPrimary, $alpha: 1);
                }
            }
        }

        h4 {
            text-align: left;
        }
    }
}

.not-easy-section {
    .img-wrapper img {
        height: 35rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .img-wrapper {
        @include DeviceMinimum992 {
            padding-right: 3rem;
        }

        img {
            object-fit: cover;
            object-position: 100% 58%;
        }
    }

    h4 {
        text-align: left;
        margin-bottom: 1.5rem;

        @include DeviceMaximum768 {
            margin-top: 2rem;
        }
    }
}

.curriculum-provides {
    .img-wrapper {
        @include DeviceMaximum768 {
            margin-top: 2rem;
        }

        img {
            object-fit: cover;
            object-position: top;
            height: 50rem;
            width: 100%;
        }
    }

    blockquote {
        background: rgba($colorPrimary, $alpha: 1);
        padding: 30px 10px 30px 30px;
        margin-top: 3rem;
        margin-bottom: 0;

        ul {
            li {
                color: $colorWhite;

                &::before {
                    background: $colorWhite;
                    outline-color: $colorWhite;
                    border-color: rgba($colorPrimary, $alpha: 1);
                }
            }
        }

        h4 {
            text-align: left;
        }
    }
}

.standardization {
    .img-wrapper img {
        object-fit: cover;
        object-position: top;
        height: 50rem;
        width: 100%;
    }

    .row{
        @include DeviceMaximum768{
            flex-direction: column-reverse;
        }
    }

    blockquote {
        background: rgba($colorPrimary, $alpha: 1);
        padding: 30px 10px 30px 30px;
        margin-top: 3rem;
        margin-bottom: 0;

        ul {
            li {
                color: $colorWhite;

                &::before {
                    background: $colorWhite;
                    outline-color: $colorWhite;
                    border-color: rgba($colorPrimary, $alpha: 1);
                }
            }
        }

        h4 {
            text-align: left;
        }
    }
}

.support-schools {
    background: #f6f6f6;
    padding: 7rem 0;

    @include DeviceMaximum768 {
        padding: 4rem 0;
    }

    .successgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include DeviceMinimum992 {
            width: 90rem;
        }

        margin: auto;

        @include DeviceMaximum992 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include DeviceMaximum768 {
            grid-template-columns: repeat(1, 1fr);
        }

        .successgridItem {
            padding: 3rem 2rem;
        }

        .branding-card {
            text-align: center;

            img {
                width: 8rem;
                background: rgba($colorPrimary, $alpha: 1);
                border-radius: 50%;
            }

            h4 {
                font-size: 1.4rem;
                font-weight: 700;
                color: rgba($colorPrimary, $alpha: 1);
                margin-top: 2rem;
                text-transform: capitalize;
            }
        }
    }
}

.global-classroom-two {
    .advisors-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin-top: 3rem;

        @include DeviceMaximum992 {
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
        }

        @include DeviceMaximum768 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include DeviceMaximum576 {
            grid-template-columns: repeat(1, 1fr);
        }

        .advisor-grid-item {
            text-align: center;
            box-shadow: $boxShadowOne;
            position: relative;
            transition: $transition04s;

            &::before {
                content: "";
                background: $colorPrimary;
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: $transition04s;
            }

            &:hover {
                transform: translateY(-5px);

                &::before {
                    width: 100%;
                }
            }

            .adv-content {
                padding: 30px 6px;
            }

            .heading-fourth {
                font-size: 14px;
                padding: 0 0 6px 0;
            }

            p {
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }
}

.heyapps {
    background: url(../img/app-bg-01.jpg);
    padding: 7rem 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($colorPrimary, $alpha: 0.9);
        z-index: 1;
    }

    .container {
        position: relative;

        h4 {
            @include DeviceMaximum768 {
                margin-bottom: 2rem;
            }
        }
    }

    @include DeviceMaximum768 {
        padding: 4rem 0;
    }

    .app-area {
        display: flex;
        align-items: center;
        gap: 3rem;

        @include DeviceMaximum768 {
            flex-direction: column;
            gap: 0;
        }

        .link-one {
            position: relative;
            display: inline-block;

            a {
                color: rgba($colorPrimary, $alpha: 1);

                &:hover {
                    color: $colorWhite;

                    &+i {
                        color: $colorWhite !important;
                    }
                }
            }

            i {
                position: absolute;
                right: 2.5rem;
                transition: $transition04s;
                color: rgba($colorPrimary, $alpha: 1);
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .contentPara {
            color: $colorWhite;
            margin: 3rem 0;
        }

        .app-ss {
            @include DeviceMinimum768 {
                flex: 0 0 30%;
                max-width: 30%;
            }

            img {
                width: 100%;

                @include DeviceMinimum768 {
                    margin: 0 auto 3rem;
                }
            }
        }

        .app-content {
            @include DeviceMinimum768 {
                flex: 0 0 calc(70% - 3rem);
                max-width: calc(70% - 3rem);
            }
        }
    }

    .owl-dots {
        .owl-dot {
            background: $colorWhite !important;
        }
    }
}
.training-support{
    .img-wrapper{
        position: relative;
        overflow: hidden;
        &:hover{
            &::before{
                opacity: 0.4;
                visibility: visible;
            }
            .headingFour{
                opacity: 1;
                visibility: visible;
                bottom: 1rem;
            }
            img{
                transform: scale(1.2);
            }
        }
        &::before{
            content: "";
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: $transition04s;
            z-index: 1;
        }
        img{
            height: 190px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: $transition04s;
        }
        h4.headingFour{
            position: absolute;
            left: 1rem;
            bottom: 0;
            color: $colorWhite;
            opacity: 0;
            visibility: hidden;
            transition: $transition04s;
            z-index: 2;
        }
    }
}