$colorPrimary: #0088CC;
$colorSecondary: #27187E;
$colorTertiary: #FF8600;
$colorbgLight:#E7E6F7;
$colorheading:#020300;
$colortext:#333;
$colorfooterbg: #545775;
$colorWhite:#fff;

$transition04s: 0.5s ease-in-out;

$gradientOne: linear-gradient(40deg, $colorPrimary, $colorSecondary);

$boxShadowOne: rgba(149, 157, 165, 0.2) 0px 8px 24px;